{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="media/mystyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://unpkg.com/@popperjs/core@2" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="media/tablesorter.js"></script>
    <script src="media/arrows.js"></script>
  </head>
<body style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,55,119,0.11250437675070024) 0%, rgba(24,55,119,0.11250437675070024) 27%, rgba(24,81,119,1) 95%);">
    <nav class="navbar navbar-expand-lg bg-body-tertiary border border-dark border-top-0 border-start-0 border-end-0">
        <div class="container-fluid">
          <span class="navbar-text ">
            <img src="media/logo.png" alt="EGA" height="70px">
          </span>
          <a class="navbar-brand " href="/"><h1 class="bi bi-patch-check display-6 mx-auto p-2 fw-bold ms-5" style="color: #185177;">Beacon Verifier</h1></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          </div>
        </div>
        {% if user.is_authenticated %}
  <p class="welcome">Current user: <b>{{ user.email }}</b></p>
  <form action="{% url 'oidc_logout' %}" method="post">
    {% csrf_token %}
    <input class="kcbutton" type="submit" value="Logout">
  </form>
{% else %}
  <a href="{% url 'oidc_authentication_init' %}"><button class="kcbutton">Login</button></a>
{% endif %}
      </nav>
      
      <div class="container pt-3 " style="font-size: 14px; "> 
        <div class="col">
          <div class="containerfirst">
            <div class="row">

            <div class="col-3" style="display: inline">
              <button class="btn btn-primary mb-3 bi bi-search ms-2" style="width: 120px; background-color: #185177; height: 45px; border-color: #185177"> Query</button>

              <div class="row">
                <div class="col">
                  <form method="post" onsubmit="openLoader()">
                    {% csrf_token %}
                    <div class="row"><div>
                    {% for f in form %}
                    <p>{{f.help_text|safe}} {{f}} </p>   
                    {% endfor %}
                </div>
              </div>
              <div class="row">
                  <div class="col-5">
                    <button type="submit" class="btn btn-warning mb-3">Search</button>    
                  </div>
                  <div class="col-6">
                    <a href="/" type="submit" class="btn btn-secondary">Reset</a>
                  </div>
              </div>
                  </form>
            </div>

            </div>
              <div>
            </div>

              
                
            </div>  
            <div class="col">
              <button class="btn btn-primary mb-3 bi bi-table ms-2" style="width: 120px; background-color: #185177; height: 45px; border-color: #185177"> Results</button>
              <div id="missatge" style="display: none;">
                <button class="btn btn-primary" type="button" disabled>
                  <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                  Verifying your {{url_link}} beacon ...
                </button>
            </div>
              {% if bash_out %}

              {{bash_out}}

                {% endif %}



              

         
        
            
            </div>
          </div>
        </div>

        
          </div>
          </div>
              </div>

            
        </div>
      </div>
      </div>
      {% include "footer.html" %}
<script>
  function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
<script>
  function myFunction2() {
  var x = document.getElementById("example");
  if (x.style.display === "inline-flex") {
    x.style.display = "none";
  } else {
    x.style.display = "inline-flex";
  }
}
</script>
<script>

  function openLoader() {
      document.getElementById("missatge").style.display = "block";
    }
  
  </script>
</body>
</html>
